<launch>
  <!-- Launch the grid map simple demo node -->
  <node pkg="grid_map_demos" type="simple_demo" name="map_test" output="screen" />
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find map_ros)/config/test.yaml" />
  </node>
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_ros)/rviz/test.rviz" />
</launch>
